$button-background-color: #e84a0c;

.button {
  background: $button-background-color; //probably will be changed when using Olivia's buttons
  border-radius: 100%;
  bottom: calc(2.5%);
  color: #fff;                          //will be changed when using Olivia's buttons
  left: calc(8%);
  padding: calc(2%);                    //will be changed when using Olivia's buttons
  position: fixed;
  width: calc(11%);
  z-index: 5;

  img{
    float:left; //will be changed when using Olivia's buttons
  }

  &.help{
    left: calc(77%); //position of help button at current width percentage
  }

  &#active {
    background: #333; //background change on touch event
  }
}
